@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("images/frontstock.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}


header{
	width:100%;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 40px;
	padding-top: 30px;
}

 .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
}
  .box-1{
	  display: flex;
  justify-content: center;
    flex:1;
    order:1;
	text-align: center;
  }

nav{
	width:100%;
	height:46px;
	background-color:hsla(296, 55%, 41%, 0.2);
	margin-top:10px;
  list-style-type:none;
  margin: 0;
  padding: 2px;
	padding-bottom: 5px;
}
 nav li{
	display:inline;
    align-content:center;
}

form{
 align-content:center;
}
.container-2{
	display: flex;
  flex-direction: row;
  padding: 15%;
 padding-between: 5%;
	
}

footer{
	width:100%;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 20px;
	padding-top: 30px;
}

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
	}

}