@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("images/frontstock.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}


header{
	width:100%;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 40px;
	padding-top: 30px;
}

	th, td {border:2px solid black;
		background-color:darksalmon;
	}

 .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
}
  .box-1{
	  display: flex;
  justify-content: center;
    flex:1;
    order:1;
	text-align: center;
  }

nav{
	width:100%;
	height:46px;
	background-color:hsla(296, 55%, 41%, 0.2);
	margin-top:10px;
  list-style-type:none;
  margin: 0;
  padding: 2px;
	padding-bottom: 5px;
}
 nav li{
	display:inline;
    align-content:center;
}

form{
 display:flex;
	padding:15%;
	font-family: 'Pirata One', cursive;
	font-size: 10px;
}
.container-2{
	display:flex;
	text-align-last:center;
	align-content: center;
	background: rgba(65,41,42,1.00);
	font-family:'Pirata One',cursive;
	font-stretch: expanded;
}

.photos{
   display: flex;
  flex-wrap:nowrap;
  width: 100px;
  margin: 40px;
}

.container-3{
	display: flex;
	flex: column;
}

.contact{
	font-family: 'Pirata One', cursive;
	font-size: 20px;
	text-align: center;
	align-content: space-between 200px;
	padding-bottom:9px;
}
.instagram-media{
align-content: center;
}


footer{
	width:100%;
	text-align: center;
	font-family: 'Pirata One', cursive;
	font-size: 20px;
	padding-top: 30px;
}

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
	}

}